<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <settings>
      <setting name="DeferredRegistration.Domain" value="deferredRegistration" />
      <setting name="DeferredRegistration.EncryptHash" value="26Bf8d^WkPaspnW:" />
      <setting name="DeferredRegistration.PageToProcessActivationLink" value="{337A5401-A74A-46FD-ACC8-75A3B1093251}" />
      <setting name="DeferredRegistration.ThankYouPage" value="{3EBFCB48-D415-447F-8E1B-BA70118EA639}" />
    </settings>
  </sitecore>
</configuration>