<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <initialize>
        <processor 	patch:before="*[@type='Sitecore.Pipelines.Loader.EnsureAnonymousUsers, Sitecore.Kernel']"
							type="DeferredRegistration.Pipelines.Initialize.CreateCustomDomains, DeferredRegistration" />
      </initialize>
      <deferredRegistration>
        <processor type="DeferredRegistration.Pipelines.DeferredRegistration.CreateUserName, DeferredRegistration" />
        <processor type="DeferredRegistration.Pipelines.DeferredRegistration.StoreUserData, DeferredRegistration" >
          <ProfileItemId>{DD8E7C74-6779-4580-BDE8-8FDC95AE48B3}</ProfileItemId>
        </processor>
        <processor type="DeferredRegistration.Pipelines.DeferredRegistration.GetEmailItem, DeferredRegistration">
          <DefaultActivationFlowEmailItemId>{994A970B-ED56-40CA-AB0A-E22945A36CA7}</DefaultActivationFlowEmailItemId>
        </processor>
        <processor type="DeferredRegistration.Pipelines.DeferredRegistration.FillMailMessage, DeferredRegistration" />
        <processor type="DeferredRegistration.Pipelines.DeferredRegistration.EncryptToken, DeferredRegistration" />
        <processor type="DeferredRegistration.Pipelines.DeferredRegistration.ReplaceTokensInMailMessage, DeferredRegistration" />
        <processor type="DeferredRegistration.Pipelines.DeferredRegistration.SendActivationEmail, DeferredRegistration" />
        <processor type="DeferredRegistration.Pipelines.DeferredRegistration.ShowThankYouPage, DeferredRegistration" />
      </deferredRegistration>
    </pipelines>
  </sitecore>
</configuration>